aclogin==0.2.1
appdirs==1.4.4
attrs==25.3.0
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.2
colorama==0.4.6
colorlog==6.9.0
h11==0.16.0
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
lxml==5.4.0
online-judge-api-client==10.10.1
online-judge-tools @ git+https://github.com/rotarymars/oj.git@d90b0a2bd87ae72cf89951b80c8fa4bd834afd0a
outcome==1.3.0.post0
packaging==25.0
platformdirs==4.3.7
PySocks==1.7.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
ruff==0.11.11
selenium==4.35.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
toml==0.10.2
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
urllib3==2.5.0
websocket-client==1.8.0
wsproto==1.2.0
yapf==0.43.0
